# This is a template file for the .env environment variables file
# Please fill in the following values for each environment variable

# The port number in which the application will run.
APP_PORT=

# The URL for the database to be used by the application.
DB_URI=

# A random hex secret key of 64 characters to serve as input to generate JWT Tokens for user signin.
JWT_SECRET_SIGNIN=